@charset "UTF-8";
.treeviewselect {
  position: relative; }
  .treeviewselect > .treeviewselect-toggle {
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    text-align: left;
    user-select: none;
    border: 1px solid darkgray;
    padding: 0rem .5rem;
    font-size: 1rem;
    /* border-radius: 0.25rem; */
    transition: all 0.2s ease-in-out;
    width: 100%;
    background-color: white; }
  .treeviewselect .treeviewselect-toggle::after {
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top: 0.5rem solid;
    border-right: 0.2rem solid transparent;
    border-left: 0.2rem solid transparent;
    margin-top: .4rem;
    float: right; }
    .treeviewselect .treeviewselect-toggle::after > .collapsed {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .treeviewselect > .treeviewselect-dropdown {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    max-height: 20rem;
    overflow-y: auto;
    width: 100%; }

.treeviewselect.show > .treeviewselect-dropdown {
  display: block; }

.treeview-arrow {
  cursor: pointer;
  margin-right: .5rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.treeview-arrow:after {
  content: '\25BE'; }

/* rotate the triangle to close it */
.treeview-arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.treeview-item {
  padding-right: .5rem;
  width: 100%; }

.treeview-parent-label {
  width: 100%;
  display: inline-block; }

.treeview-highlighted {
  background-color: blue;
  color: white; }

.treeview-children-collapsed {
  display: none; }
